# Nette
/config/local.neon

# Composer
/vendor

# NodeJS
/node_modules

# Assets
/www/dist

# Tests
/tests/*.log
/tests/tmp
/tests/coverage.html

# PhpStorm
.idea/

# DevData
.docker/data/

# .github - temporary
.github/workflows/codesniffer.yml
.github/workflows/coverage.yml
.github/workflows/tests.yml
.github/.kodiak.toml
.github/dependabot.yml

